body { margin: 10px; }

.theTable {
    border-spacing: 1px;
    margin: 0 auto;
    background-color: black;
}

.cell {
    min-width: 25px;
    height: 25px;
    background-color: white;
    padding: 0px;
}
